<!DOCTYPE HTML>
<html>
	<head>
		{{yandex_metrika}}
		<title>Art of Data</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="/assets/templates/land3/js/skel.min.js"></script>
		<script src="/assets/templates/land3/js/skel-panels.min.js"></script>
		<script src="/assets/templates/land3/js/init.js"></script>
		<link href="[~2~]" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="/assets/templates/land3/css/skel-noscript.css" />
		<link rel="stylesheet" href="/assets/templates/land3/css/style.css" />
		<link rel="stylesheet" href="/assets/templates/land3/css/style-desktop.css" />
	</head>
	<body class="homepage">

	<!-- Header -->
		<div id="header">
			<div id="nav-wrapper"> 
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a href="#description">Описание услуг</a></li>
						<li><a href="#forwho">Для кого?</a></li>
					</ul>
					<span class="">Почта: <span><a href="mailto:a@artofdata.ru">a@artofdata.ru</a></span><br><span class="">Телефон: +7 916 966 89 20</span></span>
						
				</nav>
			</div>
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<a><h1>Art of DATA</h1></a>
					<span class="tag">Искусство данных</span>
				</div>
			</div>
		</div>

	<!-- Featured -->
		<div id="featured">
			<div class="container">
				<header>
					<h2>Рады видеть вас!</h2>
				</header>
				<p><strong>Art of DATA</strong> превращаем бизнес проблемы в IT решения. <br /> IT решения в бизнес возможности </p>
				<hr />
				<div class="row">
					<section class="4u">
						<span class="pennant"><span class="fa fa-exchange "></span></span>
							<h3>Автоматический обмен данными</h3>
						<a name="description"></a>
						<p>
							<strong></strong>Расширяем возможностей обмена информацией с вашими деловыми партнёрами, за счёт организации обмена без участия человека.
						</p>
<div class="hidden add_info" >
<h3>Автообмен</h3>

<p>Организуем обмен данными с вашими партнёрами на новом уровне.</p>
<ul>
<li>Вы подключаетесь к готовой инфраструктуре</li>
<li>Вы и ваши партнёры подключаются к уже настроенным серверам готовым к работе</li>
</ul>

<p>Гарантия стабильности процесса обмена</p>
<ul>
<li>Мы пристально следим за стабильностью работы серверов</li>
<li>Мы также следим за стабильностью работы ПО на стороне ваших партнёров</li>
<li>Ответственность за работу автообмена мы берём на себя</li>
</ul>

							
<p>Вы получаете полный контроль над процессами обмена с партнёрами</p>
<ul>
<li>Получение максимально детальной информации</li>
<li>Суммарные отчёты на одной страницу</li>
<li>Предоставление информации “по запросу”</li>
</ul>
					
<p>Гарантия безопасности и конфиденциальности</p>
<ul>	
<li>Данные шифруются от начала своего пути до самого конца.</li>
<li>За шифрование данных в процессе обмена отвечают надёжные криптостойкие алгоритмы.</li>
<li>Полностью изолированная от внешнего влияния среда.</li>
</ul>


<p>Подключение ваших партнёров мы берём на себя</p>
<ul>
<li>Подключение, настройку и помощь вашим партнёрам в процессе интеграции мы осуществляем сами, вы получаете результат</li>
<li>Простота подключения новых партнёров</li>
</ul>
							
<!--					
<p>Простое и быстрое обновление</p>
<ul>	
<li>Автоматическое обновление программного обеспечения у ваших партнёров для лучшего соответствия бизнес процессам</li>
<li>Вы получите отчёт о готовности каждого партнёра к работе после обновления в реальном времени</li>
</ul>
-->							

<p>Вам станут доступны новые инструменты контроля качества данных</p>
<ul>
<li>Автоматическая сверка продаж с партнёрами</li>
<li>Автоматический контроль сопоставления данных</li>
<li>Проверка контрагентов</li>
<li>Контроль статусов заказов, дат доставки и многое другое</li>
<!--<li>Разработка новых инструментов по запросу</li>
	<li>Выявление проблем в процессе обмена с вашими партнёрами</li>-->
</ul>		

							<a class="request button button-style1">Оставить заявку</a>
							<a href="" class="button close button-style1">Закрыть</a>
							</div>
							
						<a href="" class="button button-style1">Ещё...</a>
					</section>
					<section class="4u">
						<span class="pennant"><span class="fa fa-circle-o"></span></span>
						<h3>
							Консолидируем данные из разных источников
						</h3>
						<div><strong></strong><span>Решаем вопросы связанные с сбором данных из разных источников (</span><div class="csv ico"></div> <div class="xls ico"></div> <div class="access ico"></div><span> и прочее</span></div>
						<div class="hidden add_info" >
							<h3>Консолидируем данные из внешних источников</h3>
							
							<p>У вас много данных из внешних источников в разных форматах и разной частотой обновления? Мы поможем собрать потоки в единую точку и предложим вам единый согласованный формат работы с ними.</p>
							
							<ul>
								<li>Подключение нового источника данных мы берём на себя</li>
								<li>Общение с партнёрами предоставляющими внешние данные мы берём на себя</li>
								<li>Все собранные данные мы выгружаем вам в едином согласованном формате и согласно установленному регламенту</li>
								<li>Вы получаете единый интерфейс работы с разрозненными данными</li>
							</ul>

							<a class="request button  button-style1">Оставить заявку</a>
							<a href="" class="button close button-style1">Закрыть</a>
							</div>

						<a href="#" class="button button-style1">Ещё...</a>
					</section>
					<section class="4u">
						<span class="pennant"><span class="fa fa-calendar"></span></span>
						<h3>
							Сокращаем время на обработку данных
						</h3>
						<p>Помогаем сохранить ценное время ваших сотрудников, которое они тратят на обработку отчётов</p>
						
						<div class="hidden add_info" >
							<h3>Сокращаем время на обработку данных</h3>
							
							<p>Процесс получения данных у вас налажен и работает как надо, но много времени уходит, что бы привести эти данные в порядок.</p>
							<ul>
								<li>Бесплатно проанализируем процессы приводящие к задержкам в предоставлении данных</li>
								<li>Предложим решения для ускорения процесса подготовки данных</li>
								<li>Предоставим сервис для обработки данных</li>
							</ul>
							<p>Приходится ждать пока данные появятся в BI/BW кубах?</p>
							<ul>
								<li>Возьмём подготовку данных для BI на себя</li>
								<li>Гарантированное ускорение в процессе предоставления данных</li>
							</ul>

							<a class="request button  button-style1">Оставить заявку</a>
							<a href="" class="button close button-style1">Закрыть</a>
							</div>
						
						
						<a href="#" class="button button-style1">Ещё...</a>
					</section>

				</div>
				<div class="row">
					<section class="4u">
						<span class="pennant"><span class="fa fa-bar-chart-o"></span></span>
						<h3>
							Подготовка отчётов
						</h3>
						<p><strong></strong>Готовим отчёты любой сложности и конфигурации, на основе загруженных данных</p>
						<div class="hidden add_info" >
								<h3>Подготовка отчётов</h3>
								
								<p>Готовим отчёты любого объёма, сложности и конфигурации.</p>
								<ul>
									<li>Отчёты для последующего анализа в электронных таблицах или загрузки в базы данных (<div class="csv ico"></div> <div class="xls ico"></div> <div class="access ico"></div>)</li>
									<li>Отчёты фиксированного формата (pdf, jpg, docx/doc, html)</li>
									<li>Отчёты в WEB (WEB страницы). Для анализа таблиц и графиков в браузере IE/Chrome/Firefox/Opera</li>
									<li>Отчёт по анализу данных, прогнозированию событий</li>
									<li>Отчёты могут содержать или полностью состоять из графиков схем и пр.</li>
									
								</ul>
								
								<p>Отчёты разной периодичности</p>
								<ul>
									<li>Отчёты на ежедневной/еженедельной/ежемесячной основе.</li>
									<li>Отчёты "по запросу"</li>
									<li>Отчётность закрывающая период</li>
								</ul>
								
								<p>При этом любая отчётность</p>
								<ul>
									<li>Полностью автоматизирована, не требует участия человека</li>
									<li>Строится только на проверенных и очищенных данных</li>
									<li>Может содержать любое количество показателей с любой сложностью расчёта.</li>
									<li>Может быть пересчитана при обновлении информации</li>
								</ul>

							<a class="request button  button-style1">Оставить заявку</a>
							<a href="" class="button close button-style1">Закрыть</a>
						</div>
						<a href="#" class="button button-style1">Ещё...</a>
					</section>
					<section class="4u">
						<span class="pennant"><span class="fa fa-clock-o "></span></span>
						<h3>
							Сократим затраты 
						</h3>
						<p>Предлагаем меры по сокращению затрат связанных с подготовкой отчётности, обменом информацией с партнёрами </p>
						<div class="hidden add_info" >
								<h3>Сокращаем затраты</h3>
								
								<p>Затраты связанные с отчётностью</p>
								<ul>
									<li>После оптимизации процесса подготовки отчётности, сокращаются затраты на персонал выполняющий эту работу ранее</li>
									<li>Использование Open Source продуктов позволяет экономить на лицензиях коммерческих продуктов</li>
									<li>Использование нашего оборудования, позволяет сократить затраты на администрирование и поддержку</li>
									<li>Использование наших дисковых хранилищ, позволяет экономить при хранении исторической информации</li>
									
								</ul>
								
								<p>Затраты связанные с обменом информацией</p>
								<ul>
									<li>Организация обмена с партнёрами будет дешевле если этим займутся люди имеющие опыт</li>
									<li>Снижение затрат и повышение контролируемости за счёт передачи поддержки в наши руки</li>
									<li>Низкая стоимость внесения изменений в информационный обмен</li>
								</ul>
							<a class="request button  button-style1">Оставить заявку</a>
							<a href="" class="button close button-style1">Закрыть</a>
						</div><a href="#" class="button button-style1">Ещё...</a>
					</section>
					<section class="4u">
						<span class="pennant"><span class="fa fa-arrow-circle-o-up "></span></span>
						<h3>
							Повысим качество данных и отчётности
						</h3>
						<p>Поможем провести разовую проверку данных или займёмся этим на постоянной основе</p>
						<div class="hidden add_info" >
								<h3>Повышение качества отчётности</h3>
								
								<p>Повышение качества данных</p>
								<ul>
									<li>Неизменно высокое качество поступающих данных обеспечивается инструментом автоматической сверки</li>
									<li>Поступившие данные проходят множество проверок прежде чем быть принятыми</li>
									<li>Автоматическое информирование или(и) web отчётность о качестве данных, позволяет держать процесс под контролем</li>
								</ul>
								
								<p>Повышение качества отчётности</p>
								<ul>
									<li>Если отчётности - нет, предложим варианты её предоставления</li>
									<li>Повышаем наглядность существующей опытности</li>
									<li>Организуем новые каналы распространения отчётности (почта, web, папки с общим доступом)</li>
								</ul>
							<a class="request button  button-style1">Оставить заявку</a>
							<a href="" class="button close button-style1">Закрыть</a>
						</div><a href="#" class="button button-style1">Ещё...</a>
					</section>
				</div>
			</div>
		</div>

	<!-- Main -->
		<div id="main">
			<div id="content" class="container">
<section>
					<header>
						<h2>Услуги</h2>
						<span class="byline">Мы предоставляем услуги по следующим направлениям</span>
					</header>
		

				<section class="service 8u">
						<ul class="default">
							<li>Интерфейс для загрузки данных</li>
							<div class="hidden descr">
								<h2>Реализована поддержка большинства используемых протоколов для импорта/экспорта данных.</h2>
								<div><div class="ftp ico"></div><div class="http ico"></div><div class="rsync ico"></div><span> + реализация нового протокола по запросу.</span></div>
		
		                        <h2>Реализована поддержка большинства форматов данных для импорта/экспорта.</h2>
                                <div><div class="dbf ico"></div><div class="sql ico"></div><div class="xml ico"></div><div class="csv ico"></div> <div class="xls ico"></div> <div class="access ico"></div><span> + реализация вашего формата по запросу.</span></div>
								<div><span>Реализована поддержка работы с архивами </span><div class="rar ico"></div> <div class="zip ico"></div></div>
							</div>
							<li>Обработка данных</li>
							<div class="hidden descr">
								<h2>Очистка данных</h2>
								<p>Отсечение ненужных записей и столбцов</p>
								<p>Обработка и преобразование текстовых полей, таких как адреса, даты, имена</p>
								<p>Очистка от служебных и избыточных данных</p>
								<p>Анализ и удаление задвоенных записей</p>

								<h2>Сортировка, группировка</h2>
								<p>Сортировка данных по типам и признакам</p>
								<p>Группировка однотипных данных</p>
								
								<h2>Комбинирование данных</h2>
								<p>Сопоставление данных из разных источников</p>
								<p>Анализ и устранение несогласованности данных</p>
								
							</div>
							<li>Подготовка бизнес и технических отчётов по результатам обработки данных</li>
							<div class="hidden descr">
								<h2>Прозрачная работа системы</h2>
								<p>Удобство и наглядность при работе с отчетами</p>
								<p>Повышенный контроль над процессами за счет развернутых показателей отчетов</p>
								<p>Бизнес отчётность о качестве загруженных данных, показывает насколько можно доверять данным</p>
								<p>Техническая и аналитическая отчётность покажут как ситуацию можно исправить</p>
							</div>
							<li>Автоматизированная сверка данных</li>
							<div class="hidden descr">
								<h2>Автоматическая сверка позволит</h2>
								<p>Значительно повысить качество данных, за счёт повышения количества и качества итераций сверки</p>
								<p>Сократить затраты на поддержку процесса обмена и исправление данных</p>
								<p>Неограниченно добавлять новые точки для обмена данным, при сохранении высокого качества самих данных</p>
								
							</div>
							<li>Услуга доставки отчётов (например по почте или SMB)</li>
							<div class="hidden descr">
								<h2>Подготовленные отчёты</h2>
								<p>Доставляются по электронной почте</p>
								<div><span>Выкладываются на доступные ресурсы, такие как </span><div class="ftp ico"></div> <div class="http ico"></div> <div class="rsync ico"></div></div>
								<p>Публикуются в интернете</p>
								
							</div>
							<li>Услуга автоматического обмена данными с партнёрами.</li>
							<div class="hidden descr">
								<h2>Автоматический обмен с партнёрами и филиалами это</h2>
								<p>Свобода добавления/отключения нового филиала или партнёра</p>
								<p>Полный контроль за процессом обмена</p>
								<p>Повышенная безопасность данных</p>
								<p>Подключение новых партнёров нашими силами</p>
								<p>Автоматическое изменение получаемых и отправляемых данных</p>
								
							</div>
							<li>Услуга подготовки технической документации на основании совместной работы</li>
							<div class="hidden descr">
								<h2>Документация</h2>
								<p>Мы можем подготовить документацию для вас, что бы реализовать тот или иной функционал с другими компаниями</p>
								<p>Предоставляем детальную документацию по всем нашим продуктам</p>
								<p>Можем использовать документацию или вести разработку в режиме OnLine</p>
								</div>
							<li>Услуга хостинга приложения и хранения данных.</li>
								<div class="hidden descr">
								<h2>Хостинг</h2>
									<p>Мы не зарабатываем на хостинге, вы платите лишь за фактические расходы</p>
									<p>Все продукты могут располагаться на вашем или на нашем хостинге</p>
									<p>В случае расположения на нашем хостинге, всю поддержку мы берём на себя</p>
								</div>
							<li>Услуга анализа данных, на основании требований заказчика или на основании нашего предложения.</li>
								<div class="hidden descr">
								<h2>Анализ данных</h2>
									<p>Мы проводим анализ данных в виде разовой услуги или на постоянной основе</p>
									<p>Анализ может включать весь спектр задач по анализу</p>
									<p>Анализ может быть выполнен по вашему ТЗ или по нашим рекомендациям</p>
								</div>
							<li>Услуга объединения данных из информационных систем.</li>
								<div class="hidden descr">
								<h2>Объединение данных из разных ИС</h2>
									<p>Объединяем разрозненные данные, для последующего анализа</p>
									<p>Данные могут содержаться в любых информационных системах</p>
								</div>
						</ul>
				</section>					
				</section>
				
				<section>
					<header>
						<h2>Качество услуг</h2>
						<span class="byline">При работе мы руководствуемся следующим принципами</span>
					</header>
		

				<section class="service 8u">
						<ul class="default">
							<li>Скорость</li> 
							<div class="hidden descr">
								<h2>Скорость выполнения задач и получения результатов</h2>
								<p>В зависимости от сложности задачи, первые результаты можно увидеть уже через неделю</p>
								<p>Мы работает со сокростью вашего бизнеса, даже забегаем в вперед</p>
								<p>Скорость не сказывается на качестве</p>
							</div>
							<li>Стабильность</li> 
							<div class="hidden descr">
								<h2>Стабильность в качестве и уровне сервиса</h2>
								<p>Предоставление стабильно высокого качества услуг в независимости от условий</p>
								<p>Многократные тесты, прежде чем отдать продукт вам</p>				
							</div>
							<li>Безопасность</li>
							<div class="hidden descr">
								<h2>Безопасность - приоритет</h2>
								<p>Мы обеспечиваем безопасность данных, от получения данных, до возврата результатов</p>	
							</div>
							<li>Гибкость</li>
							<div class="hidden descr">
								<h2>Гибкость во всех вопросах</h2>
								<p>Нет шаблонных проектов под которые подгоняется процесс. Мы работает вместе с заказчиком рука об руку.</p>
								<p>Возможна работа без технического задания</p>
								<p>Изменения вносятся сразу после обсуждения</p>
								<p>Создаем прототипы систем, что бы можно можно было начать корректировки уже в самом начале</p>
							</div>
							<li>Нестандартность</li>
							<div class="hidden descr">
								<h2>Нестандартность там где это уместно</h2>
								<p>Мы не стремимся загнать все в рамки "шаблонов", но при этом и не отвергаем "стандарты" в работе</p>
								<p>Мы готовы к креативности и выдумкам</p>
							</div>
							
							
	
					</ul>
					<a class="request button button-style1">Оставить заявку</a>
				</section>					
				</section>
				
				
				
				
				
				<div class="row">
					<section class="6u">
						<a class="image full"><img src="/assets/templates/land3/images/pic01.jpg" alt=""></a>
						<a name="forwho"></a>
						<header>
							<h2>Для тех, кто вырос из электронных таблиц</h2>
						</header>
						<p>Многие компании, на начальном этапе развития используют Excel для анализа результатов своей деятельности. Это абсолютно нормально, но бизнес растёт, данных становится больше, меняются потребности бизнеса, меняются подходы и инструменты, требуется автоматизация бизнеса, ускорение потока данных. К сожалению, Excel из инструмента который помогал, становится инструментом, который тормозит, тогда на помощь вам придёт <strong>Art of DATA</strong></p>
					</section>				
					<section class="6u">
						<a class="image full"><img src="/assets/templates/land3/images/pic02.jpg" alt=""></a>
						<header>
							<h2>Для тех, кто знает свои бизнес процессы</h2>
						</header>
						<p>У вас уже есть готовая инфраструктура, которая получает и хранит данные. Вы точно знаете, как эти данные должны быть преобразованы в показатели, по которым вы будете принимать стратегические решения. Вам не хватает лишь одного - кто бы мог реализовать обработки и хранение ваших данных. <strong>Art of DATA</strong> готовы сделать данный шаг за вас.</p>
					</section>				
				</div>

				<div class="row">
					<section class="6u">
						<a class="image full"><img src="/assets/templates/land3/images/pic03.jpg" alt=""></a>
						<header>
							<h2>Для считающих деньги</h2>
						</header>
						<p>Возможно вам понравится идея сократить затраты на обработку данных, если в вашей компании выделяются средства на подготовку, обработку, анализ данных мы уверены, что сможем предложить идеи как сделать это эффективнее и дешевле</p>
					</section>				
					<section class="6u">
						<a class="image full"><img src="/assets/templates/land3/images/pic04.jpg" alt=""></a>
						<header>
							<h2>Для компаний с филиалами</h2>
						</header>
						<p>Вы желаете знать, как работают ваши филиал(ы), кто из них более эффективный? Желаете получать аналитику мгновенно, сразу по всей сети? Вы можете себе это позволить с  <strong>Art of DATA</strong></p>
					</section>				
				</div>
			
			</div>
		</div>

	<!-- Tweet -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>&ldquo;Machines should work, people should think (IBM).<br> Машины должны работать. Люди должны думать. (Принцип IBM) &rdquo;</blockquote>
				</section>
			</div>
		</div>

	<!-- Footer -->
		<div id="footer">
			<div class="container">
				<section>
					<header>
						<a name="contacts"></a>
						<h2>Контакты</h2>
						<span class="byline">Почта: <a href="mailto:a@artofdata.ru">a@artofdata.ru</a></span>
						<span class="byline">Телефон: +7 916 966 89 20</span>
						<a class="request button button-style1">Оставить онлайн заявку</a>

					</header>
					<ul class="contact">
						<li><a class="fa fa-twitter"><span>Twitter</span></a></li>
						<li class="active"><a class="fa fa-facebook"><span>Facebook</span></a></li>
						<li><a class="fa fa-google-plus-square"><span>Google+</span></a></li>
					</ul>
				</section>
			</div>
		</div>

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				<a href="http://templated.co"></a> <a href="http://unsplash.com"></a> (<a href="http://unsplash.com/cc0"></a>)
			</div>
		</div>
<iframe class='hidden request' src="https://docs.google.com/forms/d/1pMeZ-KZbLhQ-o3Unel0H9Habg5xi2NuN0MnhADLN_2g/viewform" width="468" height="407" align="left" scrolling
="no"></iframe>
		<script>

			window.onload = function () {
				
				$(document).mouseup(function (e)
				{
					var container = $(".add_info, iframe.request");
				
					if (!container.is(e.target) // if the target of the click isn't the container...
						&& container.has(e.target).length === 0) // ... nor a descendant of the container
					{
						container.addClass('hidden').fadeOut();
					}
				});
					
				
				
				
				var $buttons = $('#featured .container section .button.button-style1');
				$buttons.on('click', function (event) {
					event.preventDefault()
					$(this).siblings('.add_info').fadeToggle();
				})
				var $buttons = $('#featured .container section .button.close');
				$buttons.on('click', function (event) {
					$(this).parent().fadeOut().addClass('hidden');
				})
				
				$('.service li').on('click', function (event) {
					//$(this).siblings('div').slideUp('hidden');
					$(this).siblings('div').not($(this).next('div')).slideUp(200);
					$(this).next('div').slideToggle(200);
					
					
				})	
				
				$('.request.button').on('click', function (event) {
				
					var offset = $(this).offset();
					$('iframe.request').toggleClass('hidden').css({'left':(offset.left +  $(this).width() + 100) + 'px', 'top':((offset.top - 200))  + 'px'});
					
					setTimeout(function() { $('.quantumWizButtonPaperbuttonEl').off('click').on('click', function() {console.log("12")}) } , 1000);
					
					
				})				
				


			};
		</script>
	</body>
</html>
